$lightBG: #f1f1f1;
$darkBG: #202020;
$lightSPANS: #0a0a0a;
$darkSPANS: #dcdcdc;
$PROtitle: #848484;
$PROtitleHover: #e8e8e8;
$colorRED: #e43a14;
$colorPEARL: #29bfad;
$footerBG: #aaaaaa;
$paragraph: #848484;
$textSIZE: 1.025rem;