$lightBG: #f3f3f3;
$darkBG: #202020;
$lightSPANS: #313131;
$darkSPANS: #e4e4e4;
$PROtitle: #848484;
$PROtitleHover: #e8e8e8;
$colorRED: #e43a14;
$colorPEARL: #29bfad;
$footerBG: #aaaaaa;
$paragraph: #afafaf;