$lightBG: #f1f1f1;
$darkBG: #292929;
$lightSPANS: #0a0a0a;
$darkSPANS: #dcdcdc;
$PROtitle: #9c9c9c;
$PROtitleHover: #c5c5c5;
$colorRED: #e43a14;
$colorPEARL: #29bfad;
$footerBG: #212121;
$paragraph: #848484;
$textSIZE: .97rem;