@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap');
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Main layout styles ////////////////////////////////
/////////////////////////////////////////////////////
.container {
	width: 1200px;
	margin: auto;
	padding: 0 3rem;
}

.section {
	min-height: calc(100vh - 4rem);
	padding-bottom: 2rem;
	p {
		color: $paragraph;
		font-family: "Source Sans Pro", arial, sans-serif;
		line-height: 1.5;
		font-weight: 500;		
    font-size: $textSIZE;
	}
}

.light {
	&-bg {
		background-color: $lightBG;
		transition: .2s all ease-out;
	}
	&-spans {
		color: $lightSPANS;
		transition: .2s all ease-out;
		font-family: "Source Sans Pro", arial, sans-serif;
		line-height: 1.5;
		font-weight: 500;
    font-size: $textSIZE;
	}
}

.dark {
	&-bg {
		background-color: $darkBG;
		transition: .2s all ease-out;
	}
	&-spans {
		color: $darkSPANS;
		transition: .2s all ease-out;
		font-family: "Source Sans Pro", arial, sans-serif;
		line-height: 1.5;
		font-weight: 500;
    font-size: $textSIZE;
	}
}

.heading {
	color: $colorPEARL;
	font-family: "Montserrat",sans-serif,helvatica;
	&-xl {
		font-size: 9.5vw;
		font-weight: 800;
		letter-spacing: -.05rem;
	}
}

// Navbar styles ////////////////////////////////////
////////////////////////////////////////////////////
.nav{
	&--wrapper {
		position: relative;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&--btns-wrapper {
		display: flex;
		align-items:center;
	}
	&--btns-wrapper .btn-box {
		&:first-child {
			margin-right: 1rem;
		}
		&:first-child button{
			margin: 0 .3rem;
		}
		button {
			border: 0;
			background-color: transparent;
			font-family: "Source Sans Pro", Arial, Helvatica;
			font-size: 1rem;
			color: $paragraph;
			outline: none;
			cursor: pointer;
		}
		span {
			display: inline-block;
			color: $paragraph;
		}
	}
}


// Home Page styles /////////////////////////////////
////////////////////////////////////////////////////
.section {
	&-hero-wrapper {
		margin: 2rem 0 4rem;
	}
	&-hero {
		display: block;
		position: relative;
	}
	&-hero-grid {
		display: grid;
		margin: 2.25rem 0 0;
		padding: 0 .5rem;
		grid-template-columns: 1fr 1fr;
    align-items: normal;
    justify-content: stretch;
	}
	&-skills-wrapper {
		margin: 0 0 4rem;		
    padding-top: 2rem;
	}
	&-skills-grid {
		display: grid;
		padding: 0 .5rem;
    grid-template-columns: 1.5fr 2fr;
    align-items: normal;
    justify-content: stretch;
	}
	&-skills-grid .heading {
		margin-bottom: 1.5rem;
	}
	&-skills-box {
    padding: 0 0 5rem;
		display: block;
	}
	&-skills-box:last-of-type {		
		position: relative;
		perspective: 500px;
	}
	&-skills-box .box {
		background-color: $colorPEARL;
		width: 8vw;
		height: 8vw;		
    margin: .5rem;
    display: inline-block;
    transform: skew(-5deg, -5deg);
    border-radius: .75rem;
	}
	&-projects-wrapper .heading {
		margin-bottom: 1.5rem;
	}
	&-projects-grid {
    min-height: 470px;
		display: grid;
		grid-template-columns: 2fr 1.5fr;
    align-items: normal;
    justify-content: stretch;
	}
	&-projects-box .list-wrapper ul {
		list-style: none;
	}
	&-projects-box .list-wrapper ul a {
		font-family: "Montserrat",arial,helvatica;
		transition: .2s color ease-out;
		text-decoration: none;
		display: inline-block;
		color: $PROtitle;
		&:hover, 
		&:focus {
			color: $PROtitleHover;
		}
		span {
			font-size: 1.15rem;
			font-weight: 500;
		}
		h3 {
			font-size: 5.5rem;
			font-weight: 800;
		}
	}
	&-projects-box:last-of-type {
		display: block;
		position: relative;
	}
	&-projects-box .project-card {
		width: 305px;
    height: 420px;
    transform: skew(-9deg, -6deg) rotate(-16deg);
    margin: 0rem 0.5rem 0 auto;
    position: relative;
    border-radius: 1.5rem;
    background-color: $colorPEARL;
    &-wrapper {
			width: 300px;
	    height: 410px;
	    transform: skew(-8deg, -4deg);
	    margin: 0rem 0.5rem 0 auto;
	    position: absolute;
	    top: 0.15rem;
	    right: 0;
	    border-radius: 1.5rem;
	    background-color: darkgray;    	
    }
	}
}